body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: center;
  max-width: 60px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.symbol {
  border: solid black 1px;
  height: 20px;
  width: 20px;
  margin: 20px
}

button {
  border: none;
  background-color: #ffffff;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: "Sono", monospace;
  cursor: pointer;
}

p {
  font-size: 18px;
  font-family: "Sono", monospace;
  margin: 10px;
  padding: 10px;
}

img {
  width: 30px;
  padding: 10px;
}

.check>img {
  margin: 20px;
}

.info>img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 0px;
  margin-top: 7px;
}

.segment {
  background-color: gray;
  border: solid transparent 1px;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
}

.info>p {
  font-size: 18px;
  margin-left: 5px;
  color: rgb(18, 84, 110);
}

.searchbox {
  height: 35px;
  width: 200px;
  text-align: center;
  border: solid #4a4444 2px;
  border-radius: 10px;
  font-size: "Sono", monospace;
  font-size: 17px;
  margin: 10px;
}

@media(max-width:400px){
 p{
  margin: 20px; 
 }
  .info{
    margin-right: 25px;
    flex-direction: column;
  }
}
